.ant-table-cell .payment_name {
    display: flex;
    align-items: center;
}

.ant-table-cell .payment_name img {
    width: 100px;
    height: 100px;
    object-fit: fill;
    border-radius: 4px;
    margin-right: 14px;
}