.ant-tabs-tab{
    font-size: 16px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-weight: bold;
}

.notification_information {
    margin: 0px 20px 0px 0px;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-uppercase {
    text-transform: uppercase;
}